@use '@material/button/_button-shared-theme' as mdc-button;
@use "../../theme/restorapp-theme" as restorapp;

$button-theme: (
    label-text-font: restorapp.$main-font,
    label-text-transform: none,
    label-text-tracking: 0
);

.button-rounded {
    @include mdc-button.shape-radius(12px);
    @include mdc-button.theme(
        $theme: $button-theme,
        $resolver: ()
    );
}

.primary {
    @include mdc-button.ink-color(restorapp.$light-100);
    @include mdc-button.container-fill-color(restorapp.$primary-100);
}

.secondary {
    @include mdc-button.ink-color(restorapp.$light-100);
    @include mdc-button.container-fill-color(restorapp.$secondary-100);
    @include mdc-button.icon-color(restorapp.$light-100);
}