@use '@material/button/index' as mdc-button;
@use '@material/button/mixins';

@use "../../theme/restorapp-theme" as restorapp;
@use "@material/theme/color-palette";



.button-rounded {
    @include mdc-button.shape-radius(12px);
    --mdc-outlined-button-label-text-font: 'Inter', sans-serif;
    --mdc-outlined-button-label-text-transform: none;
    --mdc-outlined-button-label-text-tracking: 0;
}

.primary {
    @include mdc-button.ink-color(restorapp.$light-100);
    @include mdc-button.container-fill-color(restorapp.$primary-100);
}