$primary-100: #B71C1C;
$primary-80: #E13D3D;
$primary-110: #8E1616;
$primary-120: #741212;

$secondary-100: #00796B;
$secondary-80: #06A390;
$secondary-110: #006055;
$secondary-120: #00463E;

$accent-100: #FFBF00;
$accent-80: #FFCD37;
$accent-110: #EDB200;
$accent-120: #D19D00;

$light-100: #F5F5F5;
$light-80: #FAFAFA;
$light-120: #E4E3E3;

$dark-100: #000000;
$dark-80: #484848;
$dark-60: #827F7F;

$main-font: 'Inter', sans-serif;
$alt-font: 'Laila', sans-serif;

a {
    text-decoration: none;
    color: $dark-100;
    font-family: $main-font;

    &.unset-visited {
        &:visited {
            color: inherit;
        }
    }
}

.alt-font {
    font-family: $alt-font;
    &-xl {
        font-size: 48px;
    }
    &-l {
        font-size: 32px;
    }
    &-m {
        font-size: 24px;
    }
    &-s {
        font-size: 18px;
    }
    &-xs {
        font-size: 14px;
    }
}


.inter {
    font-family: $main-font;
    &-xl {
        font-size: 48px;
    }
    &-l {
        font-size: 32px;
    }
    &-m {
        font-size: 24px;
    }
    &-s {
        font-size: 18px;
    }
    &-xs {
        font-size: 14px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: $light-100;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary-100; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary-110; 
  }